@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    height: 100%;
    margin: 0;
}
.flex-grow {
    flex: 1;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.main-content {
    flex: 1; /* This makes the content grow to push the footer down */
}
